[submodule "zsh/zsh-kubectl-prompt"]
	path = zsh/zsh-kubectl-prompt
	url = https://github.com/superbrothers/zsh-kubectl-prompt
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/git-fuzzy"]
	path = zsh/git-fuzzy
	url = https://github.com/bigH/git-fuzzy.git
